main {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}


.login-form {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  padding: 40px 80px;
  padding-top: 90px;
  width: 450px;
}

.input-form {
  border-color: #003be5;
  border-radius: 10px;
  margin-bottom: 20px;
  width: 100%;
}

.button-form {
  background-color: #003be5;
  border-radius: 10px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  color: white;
  width: 100%;
}
